*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}   

body{
    padding-bottom: 500px;
    color: blueviolet;
}
.aula {
    padding: 2em;
    margin-bottom: 1em;
    border-bottom: 5px solid pink;
}
